files:
  /etc/nginx/conf.d/proxy.conf.template:
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream nodejs {
          server 127.0.0.1:8081;
          keepalive 256;
      }

      server {
        listen 8080;

        if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
            set $year $1;
            set $month $2;
            set $day $3;
            set $hour $4;
        }
        access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
        access_log  /var/log/nginx/access.log  main;

        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;

        ssl_session_timeout 5m;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
        ssl_prefer_server_ciphers on;

        location / {
            proxy_pass  http://nodejs;
            proxy_set_header   Connection "";
            proxy_http_version 1.1;
            proxy_set_header        Host            $host;
            proxy_set_header        X-Real-IP       $remote_addr;
            proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        gzip on;
        gzip_comp_level 4;
        gzip_types text/html text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

      }

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDSzCCAjOgAwIBAgIJAOU/JqINcz3dMA0GCSqGSIb3DQEBBQUAMDwxOjA4BgNV
      BAMMMXN0YWdpbmcuenZxaWZxZHd4YS5ldS13ZXN0LTEuZWxhc3RpY2JlYW5zdGFs
      ay5jb20wHhcNMTYxMTI0MTE1NzM3WhcNMjYxMTIyMTE1NzM3WjA8MTowOAYDVQQD
      DDFzdGFnaW5nLnp2cWlmcWR3eGEuZXUtd2VzdC0xLmVsYXN0aWNiZWFuc3RhbGsu
      Y29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnahzYSpvkOvXMBbG
      EL8Wg9ko3mOSake0pjA7/dnWCkjMO6Ltv6YET28UNJYbJsxIrmdMihMjfoUtNPQb
      /6SD9Iu51J+b56wr7y4+ctWgT8b52+Sk6ruj7lNF06x6ApgxGoUagNpnzaJm+HwC
      BC29GOftlNZUjuysRb0EJT7MFXFj4j18pCU4huKADYaoH+cjShgzumA/sYIOioUw
      ikxW3UzwglNw3LPrAUTEuuwN/fajNVkL/udcG3QBAcV5POxBGrOrkxEBdsvpxm44
      HjvJIXUnhzFiNDC/oz2iAhkbqeX81R9atd4EFy2L92ooGRuxd6mmywITTL/wvQZs
      e3zXhwIDAQABo1AwTjAdBgNVHQ4EFgQUXjugZd4u2cxAtGLZtLyvV31DQhQwHwYD
      VR0jBBgwFoAUXjugZd4u2cxAtGLZtLyvV31DQhQwDAYDVR0TBAUwAwEB/zANBgkq
      hkiG9w0BAQUFAAOCAQEABISCz2XutQ+4XaDsMNvNG3VCPclAqJZZWsPT44Roz3tY
      /vkvWXXPlOICJ5I4JfSDtMEqlUSXrhLd/AdOBDbSc6Fqtl5Z5sdfsmeaMcqFFARq
      DsqziriFktJIR89A/Bt+90SlVnZyLEBN7W3g2coWKX7LG0Yq62BeNPsCVpYukrq7
      3KGl3vE9FWlm0LJw3E5vrvxhJC33i4FcBktbhSLDdLKm0ihbNhfKIEVYOeGjvoFd
      k8vPVgAfSGRSr4qUvvIwlLaM8K8Lz/gT/O+MD//db4UxoYrMgQj48tvCe5SEAffz
      /ymddzp6dEmonsfYU7wt3OXLUKi8YQiDMrEN9anpiQ==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEoAIBAAKCAQEAnahzYSpvkOvXMBbGEL8Wg9ko3mOSake0pjA7/dnWCkjMO6Lt
      v6YET28UNJYbJsxIrmdMihMjfoUtNPQb/6SD9Iu51J+b56wr7y4+ctWgT8b52+Sk
      6ruj7lNF06x6ApgxGoUagNpnzaJm+HwCBC29GOftlNZUjuysRb0EJT7MFXFj4j18
      pCU4huKADYaoH+cjShgzumA/sYIOioUwikxW3UzwglNw3LPrAUTEuuwN/fajNVkL
      /udcG3QBAcV5POxBGrOrkxEBdsvpxm44HjvJIXUnhzFiNDC/oz2iAhkbqeX81R9a
      td4EFy2L92ooGRuxd6mmywITTL/wvQZse3zXhwIDAQABAoIBABxxt99f+KD86+YR
      NcrvrvA6zdTRwijKpx0Utr4l/yf72l0oGBzrpvtt3wddzahCUxqkKHsA2PaKsI1N
      PX/x/pywWOazpT03IvYUMdAmGrZJ/+pcZiSzle/5ti9qftjY/IL8YLu+q9u94TYT
      qYl3dxZ3QbYItVjT+oDaiVTu74MumX8UXo+A+4tHB5g4qpGuuwYeSAyJiIJvI2pM
      OCckJfn42G+S6oNHiud28joC2Xrg8zXeHyHA9bc4fhZkqHHq+CNzBVTGY4hqZBts
      g3tYaceqFyLnIav01nPjibr39+s6Rj9ogecWOwzVg/v8unmeFQohF0tcQ1kj4Unz
      NoCKGwECgYEAz3tkU8zO+u3HDVclKAmmkaXnNnKFn+pz9QgkWEy0oAbgdsCtUgku
      oJmGfGx6ox6bpxs1MyFOy5/jq1xEIe6EDpxmvWAVXwfzNZfukIqKnRh38LTSFvHV
      akL1+gSkQh9/RF6+jy91val752X7pJ2voF0b1TDLJwpal/YpxEHu4T8CgYEAwoZr
      DQtPErlEm/OwxMyccKCGl+S+zT6/rvSz7ladUbmyZizKnzY0ROJVdKBu6r+bHN0k
      boTpdqvBEGNH3IiH2X/KfRlw45WwmFe1X1pGtkCtkJutI1rPrS0kBvCaMzFTShfV
      ghgSUXKIDjEc92S4TpZv/w85uN+C6Z/3Ujuer7kCgYAlwMkXqnu7EwsWNVYwe9kQ
      RYTV1m7UE2A4JNwgKQzw1W+AjDy9YahXVrgu6bpC9i3ScVPz0sq4qIZPxwEqv3DO
      C81yBgq9eP/bL6McL+la/nnMlcponGZ96GNDtBaDZaHNugOooDUnZrCCAX+Ri5PK
      dUa8Ox2sI+kqH4OoD2s9FwJ/B5k4lUnbzN9vzqe2P/m+IqgimcxVp67LzgnA/Y5k
      lsyqK1OUlqOHZylwLR4XNxRE+tuokKigdgI/iGRYakTrCZP0VO6pejpeq5TBgPgF
      yxi7rupl2PuzIRCiV6MOYvGKT1qe/HX0QTo4FlXUy9UjXe6CcXQmzRHuCzI0dwHd
      MQKBgC5eJ22UiDUI3qUWp9bg/1+GEgt1Vgz9J9ZldPX4t0CAm0mNZabzv3B5zAHa
      S/HPm4fBouWSj6qzUF87N7ETm4XlfqnA4QTYHfX80DWJP4RecCF+DGeHbjhaoGhJ
      55q9bgEOHheCekehPQy0cQd2bydS4tOD0dMwcJSWsySWRjPH
      -----END RSA PRIVATE KEY-----

container_commands:
  10_remove_config:
    command: "rm -f /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf"
  20_add_config:
    command: "mv /etc/nginx/conf.d/proxy.conf.template /etc/nginx/conf.d/proxy.conf"
