files:
  /etc/nginx/conf.d/00_00.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       8080;
          server_name  localhost;

          location / {
          return 200 'nginx is being hit';
          add_header Content-Type text/plain;
          }

      }
