files:
    "/etc/nginx/conf.d/proxy.conf" :
        mode: "000644"
        owner: root
        group: root
        content : |
            server {
                listen 8080;
                location /google {
                    proxy_pass http://www.google.com;
                    proxy_set_header Real-IP $remote_addr;
                    proxy_set_header Forwarded-For $proxy_add_x_forwarded_for;
                    proxy_set_header NginX-Proxy true;
                    proxy_ssl_session_reuse off;
                    proxy_redirect https://$proxy_host https://$host;
                    add_header Ember-Cli-Proxy on;
                  }
            }
